@model TracNghiem.Models.SINHVIEN

@{
    ViewBag.Title = "Chi tiết Sinh Viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Admin/HomeAdmin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/Account/Detail" class="nav-link">TT</a>
        </li>
    </ul>
}

<h2 style="text-align:center">CHI TIẾT SINH VIÊN</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin sinh viên</h4>
        <dl class="row">
            <dt class="col-sm-3">MSSV:</dt>
            <dd class="col-sm-9">@Model.MSSV</dd>

            <dt class="col-sm-3">Họ Tên:</dt>
            <dd class="col-sm-9">@Model.HOTEN</dd>

            <dt class="col-sm-3">Giới Tính:</dt>
            <dd class="col-sm-9">@Model.GIOITINH</dd>

            <dt class="col-sm-3">Ngày Sinh:</dt>
            <dd class="col-sm-9">@Model.NGAYSINH.ToString("dd/MM/yyyy")</dd>
            <dt class="col-sm-3">SĐT:</dt>
            <dd class="col-sm-9">@Model.SDT</dd>
            <dt class="col-sm-3">Ảnh:</dt>
            <dd class="col-sm-9">
                @if (!string.IsNullOrEmpty(Model.IMG))
                {
                    <img src="@Url.Content("~/img/Avata/"+ Model.IMG)" alt="Ảnh Sinh Viên" style="max-width: 200px; max-height: 200px;" />
                }
                else
                {
                    <span>Không có ảnh</span>
                }
            </dd>


        </dl>
    </div>
</div>
<div style="text-align:center">
    @Html.ActionLink("Quay lại", "Index", "Account", null, new { @class = "btn btn-primary" })
</div>
